.jss>tfoot>tr>td:not(:nth-child(2)) {
  border-left: 1px solid #ccc !important;
}

.jss>tfoot>tr>td {
  font-weight: bold;
}

.hide-checkbox .select-item input[type="checkbox"] {
  display: none !important;
}

.hide-checkbox .select-item {
  padding-left: 10px !important;
}

#shipmentJexcel {
  overflow: visible !important;
}

.shipmentJexcel>div .jss_filters {
  top: -60px !important;
}

#shipmentGlobalDemandTableDiv .jss_filters {
  transform: translateY(-85%);
}

.shipmentGlobalSearchRight .jss_search_container {
  justify-content: flex-end !important;
}

.shipmentGlobalSearchRight .jss_search_container>div {
  margin-left: 0;
  margin-right: 2px;
}

/* Fix for translucency and z-index conflict with legends */
.month-picker>.rmp-container .rmp-popup,
.rmsc .dropdown-content,
.Select-menu-outer {
  z-index: 1000 !important;
}

.month-picker>.rmp-container .rmp-popup .rmp-pad,
.rmsc .dropdown-content,
.Select-menu-outer {
  background-color: #fff !important;
  opacity: 1 !important;
}

[data-theme="dark"] {

  .month-picker>.rmp-container .rmp-popup .rmp-pad,
  .rmsc .dropdown-content,
  .Select-menu-outer,
  .Select-control {
    background-color: #212631 !important;
    opacity: 1 !important;
  }
}